#!/bin/bash
sudo -u postgres psql -c "create database authenticator"
sudo -u postgres psql -c "create user authenticatoradmin with encrypted password 'authenticatoradmin@123'"
sudo -u postgres psql -c "grant all privileges on database authenticator to authenticatoradmin"

./migrate.sh
