set mode=production
set DATABASE__NAME=authenticator
set DATABASE__USER=authenticatoradmin
set DATABASE__PASSWORD=authenticatoradmin@123
set DATABASE__HOST=localhost
set DATABASE__PORT=5432

rem export DJANGO__SECRET_KEY='django-insecure-9=(@6%n=2c^$4%b1-0!7-k+=vjeo8pub3r&$$ijw(0tchsaxn4'
rem export DEBUG=False
rem export DJANGO__bool__DEBUG=False

cd server 
python3 manage.py crontab remove
python3 manage.py crontab add
cd ..